@using FSD08_AppDev2Project.Models;
@inject SignInManager<ApplicationUser> signInManager;
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FSD08_AppDev2Project</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FSD08_AppDev2Project.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light layout-nav">
            <div class="container-fluid">
                <div class="navbar-brand ms-3">Icarus Jobs</div>
                <img src="/images/indeed-clone-logo.png" style="height:75px; width:75px;" alt="Company Logo">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse w-100">
                    <ul class="navbar-nav me-auto mx-3">
                        @if (signInManager.IsSignedIn(User)) {
                            <li class="nav-item mx-2">
                                <a class="btn btn-outline-secondary" asp-area="" asp-page="/Index">Homepage</a>
                            </li>
                            <li class="nav-item mx-2">
                                <a class="btn btn-outline-secondary" asp-area="" asp-page="/UserProfile">Your Profile</a>
                            </li>
                            <li class="nav-item mx-2">
                                <a class="btn btn-outline-secondary" asp-area="" asp-page="/JobPostings">Browse Jobs</a>
                            </li>
                            <li class="nav-item mx-2">
                                <a class="btn btn-outline-secondary" asp-area="" asp-page="/CompanyReviews">Company Reviews</a>
                            </li>
                                @if (User.IsInRole("HiringManager")) {
                                    <li class="nav-item mx-2">
                                        <a class="btn btn-outline-secondary" asp-area="" asp-page="/CompanyProfile"
                                            asp-route-companyId="1">Company Profile</a>
                                    </li>
                                    <li class="nav-item mx-2">
                                        <a class="btn btn-outline-secondary" asp-area="" asp-page="/CreateJob">Post a Job</a>
                                    </li>
                                }
                        } else {
                            <li class="nav-item mx-2">
                                <a class="btn btn-outline-secondary" asp-area="" asp-page="/JobPostings">Browse Jobs</a>
                            </li>
                            <li class="nav-item mx-2">
                                <a class="btn btn-outline-secondary" asp-area="" asp-page="/CompanyReviews">Company Reviews</a>
                            </li>
                        }
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        @if (signInManager.IsSignedIn(User)) {
                        <li class="nav-item mx-2">
                            <a class="btn btn-outline-secondary" asp-area="" asp-page="/Logout">Logout</a>
                        </li>
                        } else {
                        <li class="nav-item mx-2">
                            <a class="btn btn-outline-secondary" asp-area="" asp-page="/Register">Register</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="btn btn-outline-secondary" asp-area="" asp-page="/Login">Login</a>
                        </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - FSD08_AppDev2Project - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/tinymce/tinymce.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>