html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  background-color: rgb(255, 253, 235);
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.container-fluid {
  padding-right:0;
  padding-left:0;
  margin-right:auto;
  margin-left:auto
}


.index-splash-panel {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  padding: 2em;
  border-bottom: 1px solid rgb(0, 0, 0);
  margin-bottom: 2em;

}

.homepage-title {
  font-size:5em;
  color:rgb(255, 255, 255);
  text-shadow: 2px 1px 1px rgb(0, 0, 0), -2px 1px 1px rgb(0, 0, 0);
  border-radius: 9px;
  padding: 6px 30px 10px 30px;
}



.profile-panel {
  padding: 20px;
  border: 1px solid grey;
  border-radius: 8px;
}

.profile-name {
  font-size: 36px;
  font-weight: bolder;
}

.contact-info-user {
  border-radius: 10px;
  padding: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #555555;
  background-color: #f0f0f0;
}

.contact-info-user:hover {
  box-shadow: 1px 1px 2px #b1b1b1;
}

.profile-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #2b2727;
  font-size: 36px;
  color: rgb(233, 233, 233);
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.pdf-icon {
  width: 50px;
  height: 60px;
  border-radius: 3px;
  background-color: rgb(95, 104, 112);
  font-size: 14px;
  color: azure;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.index-page-panel {
  margin-top: 10px;
  padding: 20px;
  border: 1px solid rgb(8, 86, 131);
  border-radius: 10px;
}

.index-page-panel:hover {
  background-color:rgb(247, 247, 255);
}

.btn-info {
  background-color: grey;
}

.customborder:hover {
  border: 1px solid #258cfb;
}


.jobmessage-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.jobmessage {
  background-color: #555555;
  color: white;
  padding: 20px;
  border: 1px solid #2b2727;
  border-radius: 5px;
  margin: 10px;
  display: inline-block;
}

.admin-panel {
  /* background-color:#e2e2e2; */
  padding:2em;
  border:1px solid rgb(141, 141, 141);
  /* margin:2em; */
}

.admin-btn {
  padding:4px;
  border-radius:3px;
  font-weight:300;
  font-size:20px;
  margin: 10px;
  width: 80%;
  text-align: center;
  background-color:#d2d6dd;
  border:none;
}

.admin-btn:hover {
  background-color:#555555;
}

.admin-btn.clicked {
  background-color:#1E1E2C;
  color:white;
}

.sidebar {
  /* height: 350px; */
  border:1px solid grey;
  border-right:none;
}

.admin-spacer {
  border: 1px solid rgb(170, 170, 180);
  height:1px;
  width:100%;
}

.sidebar h5 {
  margin-top: 10px;
  margin-left: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  text-decoration: none;
  color:black;
}

a:hover {
  color:black;
}
