@page
@model IndexModel
@using FSD08_AppDev2Project.Models;
@inject SignInManager<ApplicationUser> signInManager;
@{
    ViewData["Title"] = "Home page";
}

<div class="index-splash-panel text-center container-fluid">
    <h1 class="display-4 ">Welcome to Icarus Jobs</h1>
    <br>
    <h3 class="display-6 text-secondary">Companies can advertise their openings</h3>
    <br>
    <h3 class="display-6 text-secondary">And we help job seekers find their perfect career </h3>
</div>
<div class="text-center container">
    <div class="row justify-content-around">
        @if (!signInManager.IsSignedIn(User))
        {
            <div class="col-md-5 offset-md-1 index-page-panel d-flex flex-column">
                <p class="flex-grow-1">Discover a diverse range of employment opportunities, connect with leading companies,
                    and take the leap towards a fulfilling career journey. Your next career move starts here at Icarus Job
                    Board.</p>
                <a asp-page="/Register" class="btn btn-outline-primary mt-auto">Register Now</a>
            </div>
        }

        @if (signInManager.IsSignedIn(User))
        {
            <div class="col-md-5 offset-md-1 index-page-panel d-flex flex-column">
                <p class="flex-grow-1">To make a better first impression, make sure your profile information is filled out.
                    As well, having a good up-to-date resume, and a recent profile photo will go a long way.  </p>
                <a asp-page="/UserProfile" class="btn btn-outline-primary mt-auto">Your Profile</a>
            </div>
        }

        <div class="col-md-5 index-page-panel ms-2 d-flex flex-column">
            <p class="flex-grow-1">Feel the excitement of endless possibilities as you explore a myriad of job
                opportunities on Icarus Job Board. Your next career move awaits –
                if you feel like browsing first before creating an account, feel free to view our job postings here.</p>
            <a asp-page="/JobPostings" class="btn btn-outline-primary mt-auto">View Jobs</a>
        </div>
    </div>

</div>
