@page
@model FSD08_AppDev2Project.Pages.LeaveCommentModel
@{
    ViewData["Title"] = "Leave Comments";
}

<h1>@ViewData["Title"]</h1>

<div class="container">
    <div class="row">
        <form method="post">
            <div class="form-group">
                <b> <label for="companyDropdown">Select a Company:</label></b>
                <select id="companyDropdown" asp-for="SelectedCompanyId" class="form-control"
                    asp-items="new SelectList(Model.Companys, nameof(FSD08_AppDev2Project.Models.Company.Id), nameof(FSD08_AppDev2Project.Models.Company.Name))">
                    <option value="">Select Company</option>
                </select>
            </div>

            @* element for rich text textarea *@
            <div class="form-group">
                <b><label asp-for="Input.Reviews"></label></b>
                <textarea asp-for="Input.Reviews" id="JobDescriptionEditor" class="form-control"></textarea>
                <span asp-validation-for="Input.Reviews" class="text-danger"></span>
            </div>

            <div class="form-group">
                </b><label asp-for="Input.Stars"></label></b>
                <input asp-for="Input.Stars" class="form-control"></input>
                <span asp-validation-for="Input.Stars" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary mt-2">Submit Comments</button>
        </form>



    </div>
</div>

@section Scripts {
    <script>
        tinymce.init({
            selector: '#JobDescriptionEditor'
        });
    </script>
}
