@page
@model FSD08_AppDev2Project.Pages.LeaveCommentModel
@{
    ViewData["Title"] = "Leave Comments";
}

<h1>@ViewData["Title"]</h1>

<div class="container">
    <div class="row">
        <div class="Company: "></div>
    </div>
</div>
