@page
@model FSD08_AppDev2Project.Pages.LogoutModel
@{
    ViewData["Title"] = "User logged out";
}
@if(TempData["AlertMessage"] != null)
{
    <div class="alert alert-success">
        <center>@TempData["AlertMessage"]</center>
    </div>
}
<h1>@ViewData["Title"]</h1>
@{
    <div class="container">
        <p>You've been logged out.
            <a class="nav-link" asp-area="" asp-page="/Index">Click to continue.</a>
        </p>
    </div>
}
